@model Ecommerce__projet.Models.Client

<!DOCTYPE html>

<html lang="zxx">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Eshop - eCommerce HTML5 Template.</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- StyleSheet -->
    <!-- Bootstrap -->
    <link href="~/DesignClient/css/bootstrap.css" rel="stylesheet" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/DesignClient/css/magnific-popup.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/DesignClient/css/font-awesome.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="~/DesignClient/css/jquery.fancybox.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/DesignClient/css/themify-icons.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/DesignClient/css/niceselect.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/DesignClient/css/animate.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="~/DesignClient/css/flex-slider.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/DesignClient/css/owl-carousel.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/DesignClient/css/slicknav.min.css">

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="~/DesignClient/css/reset.css">
    <link rel="stylesheet" href="~/DesignClient/style.css">
    <link rel="stylesheet" href="~/DesignClient/css/responsive.css">



</head>
<body class="js">

    <section class="shop checkout section" style="background-color:darkorange">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="checkout-form">
                        <h2>BIENVENUE</h2>
                        <p>Creation d'un nouveau client</p>
                        @using (Html.BeginForm("AjouterClient","Client"))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.identifiantClient, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.identifiantClient, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.identifiantClient, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    @Html.LabelFor(model => model.prenom, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    @Html.LabelFor(model => model.soldeinitial, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.soldeinitial, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.soldeinitial, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="single-widget get-button">
                                    <div class="content">
                                        <button class="btn" type="submit"> Ajouter un client</button>
                                    </div>
                                </div>
                            </div>


                        }
                        <div>
                            @Html.ActionLink("Retourner", "CommandeDetail")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Form -->
</body>
</html>